.li{
    display: flex;
    align-items: center;
    flex:1;
    height:45px;
    margin-top: 1px;
}
.lis{
    display: flex;
    align-items: center;
    flex:1;
    height:45px;
    background-color: #e7f2fe;
    margin-top: 1px;
}


.link{
    margin-left: 20px;
    font-size: 20px;
    color: #225592;
    text-decoration: none;
}

.links{
    margin-left: 20px;
    font-size: 28px;
    color: #fff;
    text-decoration: none;
}

